@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
:root {
  --font-primary: 'Poppins', sans-serif;
}

#root {
  @apply bg-[#f4f7fb];
  @apply 
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bordered-block {
  @apply border border-[#cccccc] rounded-[14px] bg-white;
}