@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

:root {
  --font-primary: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-primary);
}

#root {
  @apply bg-[#f4f7fb];
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bordered-block {
  @apply border-[#cccccc] rounded-[14px] border bg-white;
}

.tab-title {
  @apply text-[13.6px] font-semibold;
}

.card-num {
  @apply text-[54.12px] leading-[100%] tracking-[-0.03em] text-[#1A202C]
    font-medium;
}

.card-title {
  @apply text-[20px] leading-[100%] tracking-[-0.03em] text-[#1A202C]
    font-semibold;
}

.card-heading {
  @apply text-[20px] leading-[100%] tracking-[-0.03em] font-semibold text-black;
}

.divider-block {
  @apply h-px w-full absolute bottom-[0px] inset-x-0;
  background-image: repeating-linear-gradient(
  to right,
  #C7C7C7 0 6px,
  transparent 6px 14px
  );
}